{% assign path = '' %}
{% if page.tag %}
    {% assign path = '/img/icon/' | append: page.tag | append: '.png' %}
{% else if page.tags %}
    {% for tag in page.tags %}
        {% assign path = '/img/icon/' | append: tag | append: '.png' %}
        {% assign files = site.static_files | where: 'path', path %}
        {% if files.size > 0 %}
            {% break %}
        {% endif %}
        {% assign path = '' %}
    {% endfor %}
{% endif %}

{% assign files = site.static_files | where: 'path', path %}
{% if files.size > 0 %}
<img class="post-icon" src="{{ path }}" />
{% endif %}