---
layout: default
comments: true
---
<!-- 게시글 보기 -->
<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}
              {% if page.result %}
              {% assign result = page.result %}
              {% include badge.html %}
              {% endif %}
            </h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }}
            </span>
            <div class="post-tag">
              {% for tag in page.tags %}
              {% if site.data.tags contains tag %}
              <a href="/posts/?tag={{ tag }}">
                {{ site.data.format[tag] }}
              </a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto post">

        {{ content }}

        <hr>
        
        {% if page.category != "Life" %}
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = 'https://chaelin1211.github.io{{ page.url }}';
            this.page.identifier = '{{ page.id }}';
          };
          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://chaelin1211-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        {% endif %}
        {% include pagingbutton.html%}

      </div>
    </div>
  </div>