@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --foreground-rgb-d: 0 0 0;
    --background-rgb: 231, 231, 231;
    --main-background-rgb: 255, 255, 255;
    --h-button-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --foreground-rgb-d: 255 255 255;
        --background-rgb: 40, 40, 40;
        --main-background-rgb: 17, 17, 17;
        --h-button-rgb: 17, 17, 17;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
}

.header {
    background-color: rgb(var(--background-rgb));
}

.header-link {
    background-color: rgb(var(--h-button-rgb));
}

.header-link.active, .header-link:hover {
    box-shadow: inset 0 0 20px 0 rgb(var(--foreground-rgb-d) / 0.10);
    font-weight: bold;
}

.post-main {
    background-color: rgb(var(--main-background-rgb));
}